.background-color {
  background-color: #151515;
}

.text-color {
  color: #c6c6c6;
}

.text-color-grey {
  color: #818181;
}

.primary-color {
  background-color: #252e4c;
}

.secondary-color {
  background-color: #555553;
}

.accent-color {
  background-color: #61a9c4;
}
